[submodule "modules/fmt"]
	path = modules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "modules/curlpp"]
	path = modules/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "modules/simdjson"]
	path = modules/simdjson
	url = https://github.com/simdjson/simdjson.git
